@import ./sass_variables_mixins/_style_global
@import ./sass_variables_mixins/_variables
@import ./sass_variables_mixins/_mixins

*
    margin: 0
    padding: 0
    box-sizing: border-box
    list-style: none
    text-decoration: none

body, html
    height: 100%
    font-family: $font-family
    background-color: $bg-color
    color: $font-color

body
    @include flexCenter(center, center, column)
    overflow: hidden

.card
    width: 380px
    height: 580px
    position: relative

    main
        position: absolute
        width: 100%
        height: 100%
        backface-visibility: hidden
        transition: 0.5s
        background-color: $primary-color
        border-radius: 10px
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5)
        transition: 1s ease-in-out

    #front
        &.spin
            transform: perspective(500px) rotateY(180deg)

        .avatar
            width: 160px
            height: 160px
            border-radius: 50%
            object-fit: cover

        .user-name
            font-size: 1.5rem
            margin: 5px 0

        .user-bio
            font-size: 1.3rem
            text-align: center

        .user-infos
            @include flexCenter(center, center, row)
            gap: 20px
            margin: 10px 0

        .item-info
            @include flexCenter(center, center, column)
            gap: 5px

        .user-github
            color: $font-color
            font-size: 1.1rem
            margin-bottom: 20px
            @include flexCenter(center, center, row)
            gap: 10px

        .user-links
            @include flexCenter(space-between, center, row)
            gap: 10px

        .item-link
            a
                background: #1f1f1f
                border-radius: 5px
                padding: 3px
                @include flexCenter(center, center, center)
                transition: 0.3s

            a:hover
                scale: 1.1

        .arrow-left
            background: transparent
            border: none
            cursor: pointer
            position: relative
            top: 15%
            left: 40%

    #back
        transform: perspective(500px) rotateY(180deg)

        &.spin
            transform: perspective(500px) rotateY(360deg)

        p
            font-size: 1.1rem
            margin: 10px 0
            text-align: center
            font-weight: 700



        .arrow-right
            background: transparent
            border: none
            cursor: pointer
            position: relative
            top: 15%
            left: 40%
